-provide(:title, t('.title'))

%h3= t('.textbooks-heading')

- @textbooks.each do |textbook|
  .card
    .card-body
      %span.font-weight-bold= link_to textbook.name, textbook
      %span.font-weight-normal= textbook.additional_info

- if policy(@textbooks).new?
  %p= link_to "Create a new textbook", new_textbook_path
