-provide(:title, "Make new textbook")

%h3 Make a new textbook

%p First you'll need to create the textbook. Once it's made, you can assign pages to it.

%p The additional info is optional.

= render "form"
