%h3.tag-search-results.hide.hide-title Matching activities
%h5.sort-title.hide.hide-title Sort by
%div.sorting-buttons
%ul.activity-card-list
%div.pagination-buttons
%h5 Narrow results by tag
%div.narrow-tags