%small Is this activity inspired by another activity? Link it here!
= form_for ActivityLink.create do |f|
    =select_tag "activity_link[id]", id: "new-activity-link"
    = hidden_field_tag :inspired_id, @activity.id
    = f.submit 'Link', class: "tagging-submit-button", disabled: true
