- provide(:title, "New Tag")

%h3 New Tag

%p Please create new tags sparingly - If we add too many tags, the lists become difficult to navigate and people are less likely to find all the relevant tags for their activity.

= render "form"