- provide(:title, "ALTopedia - Tag Categories")

.full-tag-display
  %h2 Tag Categories
  %ul.tag-card-list
    - @tag_categories.each do |category|
      %li.tag-card
        = link_to category do
          %p.tag-card-name= category.name
