<h2>New Tag Category</h2>

<p>You shouldn't be here unless you're an admin! And even if you are, you should probably
be very cautious about adding more tag categories! Too many of these, and nobody's gonna
want to search through the huge list!</p>

<%= render 'form', tag_category: @tag_category %>

<%= link_to 'Back', tag_categories_path %>
