=form_for(@job_post) do |f|
  = render 'shared/error_messages', object: f.object
  .form-group
    %label{"for" => "job_post_title"} Title:
    =f.text_field :title, class: 'form-control'
    %label{"for" => "job_post_external_url"} URL for job listing or agency (note: it needs to be the full URL starting with http)
    =f.text_field :external_url, class: 'form-control'
    %label{"for" => "job_post_content"} Content for the job listing:
    =f.text_area :content, class: 'form-control', rows: 8
    - unless current_user.admin?
      =f.hidden_field :priority, value: :primary_sponsor
    - else
      %label{"for" => "job_post_priority"} Priority
      =f.select :priority, JobPost.priorities.map { |key, value| [key, key] }, {}, class: 'form-control'
  .form-group
    %h4 Attached files
    %label Company logo (please attach one!)
    =f.file_field :company_logo, direct_upload: true, class: 'form-control-file'
    -# %label Additional images
    -# =f.file_field :post_images, multiple: true, direct_upload: true, class: 'form-control-file'
  = f.submit "Submit", class: 'btn btn-primary'

