// Place all the styles related to the textbook_pages controller here.
// They will automatically be included in application.css.
  // You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables_and_mixins";

.textbook-page-link {
  color: $tbp500;
  text-decoration: none;
}
.textbook-page-link:hover {
  text-decoration: underline;
}

.compact-textbook-page-form {
  display: flex;
  flex-direction: column;
}

.textbook-page-link-controls {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-textbook-page-display {
  @include full-size-card;

  border-top: 0.3rem solid $tbp500;

  h1 {
    color: $tbp500;
    margin-bottom: 2rem;
  }

  display: flex;
  flex-direction: column;

}

@media screen and (min-width: $desktop_breakpoint) {
  .compact-textbook-page-form {
    flex-direction: row;
    justify-content: space-between;
  }
}