.season-initiative
  .card.mt-2
    .card-body
      %h5 Spring Initative
      %p This spring, let's try to think of activities to use during lunch time with the students!
      %h6.text-center= link_to "Lunch Activities", tag_path(109), class: "text-center btn btn-success"
