.card.mt-2
  .card-body
    %h5 Santa is on his way!
    %p 'tis the season! Check out Christmas-based activities!
    %h6.text-center= link_to "The Christmas tag", tag_path(54), class: "text-center btn btn-success"
