- provide(:title, "ALTopedia - About")

%h3 About the site

%p ALTopedia is the successor site to Englipedia.

%p For about ten years, Englipedia was the premiere resource site for English teachers in Japan. Hundreds of teachers contributed their ideas and feedback, and it was the first place anyone sent new teachers when they needed to find something for their classes.

%p The administration passed hands several times over the years, and the site's final admin, Al, found that the platform the site was running on was being discontinued. He sent out an appeal for anyone to help him build a newer, modern site and that's when Jake got in touch with him. Since the foundations of the site were being completely rebuilt, it was renamed ALTopedia and launched in April of 2018.

%p In the spirit of education and sharing, the site is completely free. It's a custom-built web application designed for the needs of ALTs and other English teachers, and we're continually adding new features. Our goal from the start was to make a site that's easy to use and easy to contribute your ideas to. Many teachers have already signed up and shared their activities for anyone else who might find them useful. Let's put our heads together and make our English classes the best they can be!

