- provide(:title, "ALT Activities - About")

%h3 About

%p This site is being built by Jake. Go to the GitHub page to learn more:
%p= link_to "GitHub - ALT Activities", "https://github.com/HeadBeeGuy/alt-activities"