- provide(:title, "ALTTO")

%h4= link_to "ALT Training Online", "https://www.alttrainingonline.com"

%p Make sure you check out our sister site, ALT Training Online! While ALTopedia is here to give you a wide variety of individual activities, ALT Training Online is about honing the craft of teaching and lesson plan development. If you want to improve your skills and connect with other teachers, the resources at ALT Training Online are a great place to start.
