-provide(:title, "ALTopedia - Contact")

%h3 Contact ALTopedia

%p Need to get in touch with us? We're still getting the site set up, but for now, you can contact:

%ul
  %li
    %strong Jake
    for technical issues on the site: jake.alt.dev (AT) gmail.com
