-provide(:title, "ALTopedia - Contact")

.full-generic-page
  %h2 Contact ALTopedia
  %p Need to get in touch? Feel free to leave a comment on any relevant part of the site, or contact Jake directly.
  %p
    %strong E-mail:
    %span jake.alt.dev (AT) gmail.com
  %p
    %strong Discord
    %span= link_to "ALTopedia Discord", "https://discord.gg/KTPmKJk"
