-provide(:title, "ALTopedia - Contact")

%h3 Contact ALTopedia

%p Need to get in touch with us?

%ul
  %li
    %strong Jake
    for technical issues and other general inquiries about the site: jake.alt.dev (AT) gmail.com
