- provide(:title, t('.title'))

.full-generic-page
  %h4 This page hasn't been rebuilt with the new interface yet. It still works, but it looks messy. It will get looked at soon. Sorry for the inconvenience!

  %h3= t('.grammar-heading')

  %p= link_to t('.all-tags'), all_tags_path

  %p This list is still quite incomplete! Please let us know if we're missing any significant grammar points, or any of the grammar points have inaccurate information.

  - @tags.each do |tag|
    .card
      .card-body
        %p= link_to markdown("#{tag.name_for_lists}"), tag
