- provide(:title, t('.title'))

%h3= t('.grammar-heading')

%p= link_to t('.all-tags'), all_tags_path

- @tags.each do |tag|
  .card
    .card-body
      %p= link_to markdown("#{tag.name_for_lists}"), tag