- provide(:title, "ALT Activities - Home")

%h1 ALT Activities!

%p This is the first extremely basic home page!

%p= link_to "New user? Sign up here! (although the mailer might not work yet)", new_user_registration_path