- provide(:title, "ALT Activities - Home")

%h1 ALT Activities

%p This site is for finding and sharing activities and games to use in English classes. It's designed for the needs of ALTs in Japan, but we hope you'll find something useful no matter what your situation!

%p= link_to "New user? Sign up here!", new_user_registration_path

%p= link_to "View all activities", activities_path

%p Recent updates:
%ul
  %li You can give a thumbs up to activities you like. Activities are displayed based on how many people like them.
  %li You can edit your profile with some basic info.
  %li Textbooks can now be assigned to a particular school level (elementary, JHS, etc.) The landing pages for a school level will show all of the textbooks.
