- provide(:title, t('.title'))

.full-generic-page
  %h2= t('.hs-heading')
  = render partial: 'activities/school_level_activity_list', locals: { explanation: t('.hs-explanation'), textbooks: @textbooks, old_textbooks: @old_textbooks, activities: @hs_activities }


