- provide(:title, t('.title'))

.full-generic-page
  %h2= t('.jhs-heading')
  = render partial: 'activities/school_level_activity_list', locals: { explanation: t('.jhs-explanation'), textbooks: @textbooks, activities: @jhs_activities }


