- provide(:title, "ALTopedia - Shoutbox")

%h3 The ALTopedia Shoutbox

.shoutbox
  <iframe src="https://altopedia.ishoutbox.com" width="800" height="570" frameborder="0" valign="middle" allowtransparency="true"></iframe> 

%p.mt-2= t('.rule1')
