- provide(:title, t('.title'))

.full-generic-page
  %h2= t('.special-needs-heading')
  = render partial: 'activities/school_level_activity_list', locals: { explanation: t('.special-needs-explanation'), textbooks: @textbooks, activities: @special_needs_activities }
