- provide(:title, t('.title'))

.full-generic-page
  %h2 How you can support ALTopedia
  %p ALTopedia is 100% user-funded.
  %p That might seem a bit simplistic or unremarkable, but it’s actually a pretty unusual situation for a modern web site.
  %p Most sites fund themselves through advertising. They try to show their users as many ads as possible, or try to get information about their users so they can sell that information to advertisers. This creates a lot of bad incentives for web sites as the interests of the users of the site usually conflict with the interests of advertisers.
  %p This is an issue that I feel strongly about, so ALTopedia doesn’t run any advertising or give any data about the users to anyone. The site is independent and there’s no one who can impose any change of policy on the site that doesn’t serve the users.
  %p This makes funding the site more difficult, unfortunately. Currently, the web hosting costs about $100 US per month. It’s professional-grade web hosting with enough power and capacity to handle the site and all of its files, even as the userbase grows. It’s hosted in Tokyo so that means it’s very quick to access inside of Japan.
  %p I’d like to try to make the site work as an entity (and maybe even a business) that users fund because they like it, not because I’ve twisted their arms or used some psychological trickery.
  %p
    %span= link_to "Currently the best way to help fund the site is to join the Patreon.", "https://www.patreon.com/altopedia" 
    %span If you join, please tell me your username and I’ll upgrade your account to a Supporter account, which can:
  %p - Set an avatar
  %p - Make links in your profile
  %p - Put your activities in “Workshop Mode”, which gives them a prominent place on the front page and shows that you’re looking for feedback on it.

  %p Many more perks are coming as I code in new features! I’m going to build a system into the site soon that lets you support it directly on either a subscription or one-off basis. If you can’t afford it or want to spend your hard-earned cash elsewhere, that’s fine – regular accounts will not be limited in any way from what they’ve always been able to do.
  %p I hope you’ll consider helping to keep the site running and evolving! Thanks for your support!
  %em Jake, administrator and co-founder of ALTopedia
