<p>Welcome to ALTopedia, <%= @email %>!</p>

<p>To complete your registration, please click the link below to confirm your e-mail address.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
