.pt-2
  .card
    .card-header.text-center= label
    %ul.list-group.list-group-flush
      -if activity_list
        - activity_list.each do |activity|
          %li.list-group-item
            %span
              =link_to activity.name, activity, class: "card-link"
              - if show_upvote_count
                %span.badge.badge-info.float-right= activity.upvote_count 
