.col-md-6.col-sm-10.col-lg-4.pt-2
  .card
    .card-header.text-center= label
    %ul.list-group.list-group-flush
      - activity_list.each do |activity|
        %li.list-group-item
          %span
            =link_to activity.name, activity, class: "card-link"
            %span.badge.badge-info.float-right= activity.upvote_count 
