.school-level-listing
  .school-explanation
    %p= explanation
    - if @textbooks.any?
      %h4 Textbooks
      %ul
        - @textbooks.each do |textbook|
          %li= link_to textbook.name_for_lists, textbook, class: "textbook-link"
  .school-level-activity-list
    - unless activities.nil?
      %h3 Recent Activities
      %ul.activity-tracker
        - activities.each do |activity|
          %li.ticker-activity= link_to activity.name, activity, title: activity.short_description
      = paginate activities
      