- provide(:title, "Edit Activity")

%h2 Edit this activity

%p When you submit your edits, the activity will be taken off the live site and placed back into the mod queue.

%p But don't worry! once it's approved again, it will go right back!

= render "activity_form"