- provide(:title, "Edit Activity")

%h2 Edit this activity

%p Don't get too used to this! Eventually once you edit an activity, it'll get put back in the moderator queue for approval.

%p Otherwise you could make an activity and then change it to spam or something else, and that wouldn't be good.

= render "activity_form"