- provide(:title, t('activities.page_titles.all_activities'))

.row
  - @activities.each do |activity|
    .col-sm-6.col-md-4.col-lg-4.mt-4
      .card
        %h5.card-header
          =link_to activity.name, activity
          %span.badge.badge-info.float-right= activity.upvote_count
        .card-body
          %p.card-text= activity.short_description
          = link_to t('.view'), activity, class: "btn btn-outline-primary float-right"
        .card-footer
          - activity.tags.each do |tag|
            %span= link_to tag.short_name, tag, class: "badge badge-success"
            
