- provide(:title, t('.title'))

- @front_page_posts.each do |post|
  .card.mb-2
    .card-header
      %h5= link_to post.title, post
    .card-body.p-2.pl-4
      %p= markdown_for_posts(post.excerpt)
      .span.text-right= l(post.created_at, format: :quite_short)

=paginate @front_page_posts

