-# Still not ready for public display!
%footer.container-fluid.py-5.mt-4.bg-secondary
  .row
    .col-md.text-light
      %p All content on this site is subject to whichever license we end up going with.
      %ul.list-unstyled.text-small
        %li= link_to "Contact", "#", class: "disabled text-light"
        %li= link_to "Terms of Service", "#", class: "disabled text-light"
        %li= link_to "Site map", "#", class: "disabled text-light"
        %li= link_to "ALT Training Online", "http://www.alttrainingonline.com", class: "disabled text-light"
